# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code,save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  #vmImage: 'ubuntu-latest' # other options: 'macOS-10.14', 'vs2017-win2016'
  vmImage: 'ubuntu-16.04' 
  demands: maven

steps:
- task: Maven@3
  displayName: 'Maven pom.xml'
  inputs:
    mavenPomFile: 'pom.xml'
    codeCoverageToolOption: Cobertura
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'clean package'

- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagtagingdirectory)'
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: '**/*.jar'
    TargetFolder: '$(build.artifactstagtagingdirectory)'
  condition: succeededOrFailed()

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'  
  inputs:
    PathtoPublish: '$(build.artifactstagtagingdirectory)'
  condition: succeededOrFailed()
